# Analisando dados com pandas

In [1]:
import os
import pandas as pd

In [2]:
# Importando os dados
data = []

for file in os.listdir('./data'):
    if file.endswith('.csv'):
        data.append(pd.read_csv('./data/' + file))
        print(file)

Meganium_Sales_Data_-_Shopee.csv
Meganium_Sales_Data_-_AliExpress.csv
Meganium_Sales_Data_-_Etsy.csv

In [3]:
# Combinando os dados em um único dataframe
combined_data = pd.concat(data, ignore_index=True)

In [4]:
# Visualizando os dados
combined_data.head()

,SKU,product_sold,date,quantity,unit_price,total_price,currency,site,discount_coupon,discount_value,buyer_birth_date,buyer_name,delivery_country,invoice_id
0,SKU-40XXV01,NEW MEGANIUM RG 40XXV,2024-09-25,5,100,500,GBP,Shopee,COUPONudNFF,86.97,1977-01-11,Caitlin Hampton,Canada,c9004617-7380-4423-8308-61000d7476d6
1,SKU-35XX01,NEW MEGANIUM RG35XX,2024-08-20,2,90,180,USD,Shopee,COUPONwKSYr,52.45,1985-04-18,Kristen Murphy,Canada,97963f60-5c5e-4a43-b82f-ac7b4af9b836
2,SKU-CUBEXX01,NEW MEGANIUM RG CubeXX,2024-10-30,5,80,400,EUR,Shopee,COUPONPomKJ,91.50,2000-05-11,Emily Caldwell,France,0ad4ad4c-8340-4049-9f12-7e9c7b31d0ba
3,SKU-40XXV01,NEW MEGANIUM RG 40XXV,2024-09-29,2,100,200,USD,Shopee,COUPONFMOPN,38.84,1973-12-20,Elizabeth Adams,Japan,e56075d8-7299-493a-bb4d-000159e2c2ed
4,SKU-353M01,MEGANIUM RG353M,2024-09-11,1,110,110,GBP,Shopee,COUPONKlEUV,24.29,1976-05-19,Cheryl Newman,Japan,023f2324-7bcd-4839-b056-9ff3524574ea

In [5]:
# Checando se há nulos
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SKU               60 non-null     object
 1   product_sold      60 non-null     object
 2   date              60 non-null     object
 3   quantity          60 non-null     int64
 4   unit_price        60 non-null     int64
 5   total_price       60 non-null     int64
 6   currency          60 non-null     object
 7   site              60 non-null     object
 8   discount_coupon   60 non-null     object
 9   discount_value    60 non-null     float64
 10  buyer_birth_date  60 non-null     object
 11  buyer_name        60 non-null     object
 12  delivery_country  60 non-null     object
 13  invoice_id        60 non-null     object
dtypes: float64(1), int64(3), object(10)
memory usage: 6.7+ KB

In [6]:
# Quantidade de vendas por site
combined_data.groupby(['site'])['quantity'].sum()

site
AliExpress    58
Etsy          56
Shopee        64
Name: quantity, dtype: int64

In [7]:
# Removendo colunas desnecessárias parra análise
combined_data = combined_data.drop(columns=['SKU', 'discount_coupon', 'buyer_name', 'invoice_id'])

In [8]:
combined_data.head()

,product_sold,date,quantity,unit_price,total_price,currency,site,discount_value,buyer_birth_date,delivery_country
0,NEW MEGANIUM RG 40XXV,2024-09-25,5,100,500,GBP,Shopee,86.97,1977-01-11,Canada
1,NEW MEGANIUM RG35XX,2024-08-20,2,90,180,USD,Shopee,52.45,1985-04-18,Canada
2,NEW MEGANIUM RG CubeXX,2024-10-30,5,80,400,EUR,Shopee,91.50,2000-05-11,France
3,NEW MEGANIUM RG 40XXV,2024-09-29,2,100,200,USD,Shopee,38.84,1973-12-20,Japan
4,MEGANIUM RG353M,2024-09-11,1,110,110,GBP,Shopee,24.29,1976-05-19,Japan

In [9]:
# Convertendo data de string para datetime
combined_data['date'] = pd.to_datetime(combined_data['date'])
combined_data['buyer_birth_date'] = pd.to_datetime(combined_data['buyer_birth_date'])

In [10]:
# Quantidade de Produtos vendidos
combined_data.groupby(['product_sold'])['quantity'].sum()

product_sold
MEGANIUM RG353M           29
NEW MEGANIUM RG 40XXV     41
NEW MEGANIUM RG CubeXX    36
NEW MEGANIUM RG28XX       36
NEW MEGANIUM RG35XX       36
Name: quantity, dtype: int64

In [11]:
# Produtos vendidos por país
combined_data.groupby(['product_sold', 'delivery_country'])['quantity'].sum()

product_sold            delivery_country
MEGANIUM RG353M         Australia            5
                        France               6
                        Germany              3
                        Japan                6
                        UK                   5
                        USA                  4
NEW MEGANIUM RG 40XXV   Canada              19
                        France               4
                        Germany              7
                        Japan               11
NEW MEGANIUM RG CubeXX  Australia           13
                        Canada               2
                        France               9
                        Germany              5
                        Japan                5
                        UK                   1
                        USA                  1
NEW MEGANIUM RG28XX     Australia            8
                        Canada              11
                        France               5
                        Germany              7
                        Japan                5
NEW MEGANIUM RG35XX     Australia            2
                        Canada              14
                        France              12
                        Germany              1
                        UK                   7
Name: quantity, dtype: int64

In [12]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_sold      60 non-null     object
 1   date              60 non-null     datetime64[ns]
 2   quantity          60 non-null     int64
 3   unit_price        60 non-null     int64
 4   total_price       60 non-null     int64
 5   currency          60 non-null     object
 6   site              60 non-null     object
 7   discount_value    60 non-null     float64
 8   buyer_birth_date  60 non-null     datetime64[ns]
 9   delivery_country  60 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 4.8+ KB

In [13]:
# Calculando a idade dos compradores
combined_data['buyer_age'] = combined_data['date'].dt.year - combined_data['buyer_birth_date'].dt.year

In [14]:
# Média de idade comprador por país
combined_data.groupby(['delivery_country'])['buyer_age'].mean().round(0).astype(int)

delivery_country
Australia    44
Canada       36
France       43
Germany      43
Japan        44
UK           44
USA          38
Name: buyer_age, dtype: int64

In [15]:
# Salvando csv
combined_data.to_csv('processed_data.csv', index=False)

# Insights usando o Google Gemini

In [16]:
# Carregar dotenv
from dotenv import load_dotenv

load_dotenv()

True

In [17]:
GEMINI_KEY = os.getenv('GEMINI_KEY')

In [18]:
import google.generativeai as genai

genai.configure(api_key=GEMINI_KEY)

In [19]:

# This is a simple example; tailor it to your specific needs
analysis_prompt = """
Analise o seguinte relatório de vendas:
{}
- Identifique os 3 produtos mais vendidos. 
- Retorne a quantidade de produtos vendidos por site.
- Retorne uma tabela com produtos vendidos, quantidade de vendas por país.
- Retorne a média da idade dos compradores  por país. 
"""

# **4. Generate content using the Gemini API**
model = genai.GenerativeModel('gemini-1.5-flash-latest') 
df_str = combined_data.to_markdown(index=False)  # Convert DataFrame to Markdown for better readability
prompt = analysis_prompt.format(df_str) 
response = model.generate_content(prompt)

# **5. Print the response**
print(response.text)

Aqui estão as respostas baseadas na sua tabela de vendas:

**1. Os 3 produtos mais vendidos:**

Para determinar os 3 produtos mais vendidos, precisamos somar a quantidade vendida de cada produto:

* **NEW MEGANIUM RG 40XXV:** 22 unidades
* **NEW MEGANIUM RG35XX:** 21 unidades
* **NEW MEGANIUM RG CubeXX:** 20 unidades
* **MEGANIUM RG353M:** 13 unidades
* **NEW MEGANIUM RG28XX:** 19 unidades

Portanto, os 3 produtos mais vendidos são:  **NEW MEGANIUM RG 40XXV**, **NEW MEGANIUM RG35XX**, e **NEW MEGANIUM RG28XX**.


**2. Quantidade de produtos vendidos por site:**

* **Shopee:** 20 produtos
* **AliExpress:** 20 produtos
* **Etsy:** 20 produtos


**3. Produtos vendidos e quantidade de vendas por país:**

Esta tabela mostra a quantidade de cada produto vendido em cada país:

| Product_Sold           | Canada | France | Japan | Australia | Germany | UK | USA |
|-----------------------|--------|--------|-------|------------|---------|----|-----|
| NEW MEGANIUM RG 40XXV  | 6      | 0      | 3     | 0          | 0       | 0 | 0   |
| NEW MEGANIUM RG35XX    | 2      | 5      | 1     | 1          | 0       | 1 | 1   |
| NEW MEGANIUM RG CubeXX | 3      | 4      | 1     | 4          | 5       | 0 | 2  |
| MEGANIUM RG353M        | 1      | 2      | 2     | 1          | 0       | 2 | 2   |
| NEW MEGANIUM RG28XX    | 3      | 2      | 1     | 4          | 2       | 0 | 0   |


**4. Média da idade dos compradores por país:**

Para calcular a média da idade dos compradores por país, precisamos somar as idades de todos os compradores de um determinado país e dividir pelo número de compradores nesse país.

* **Canada:** (47 + 39 + 51 + 47 + 29 + 43 + 27 + 38 + 31 + 48 + 36 + 19) / 12 ≈ 39.2 anos
* **France:** (24 + 37 + 43 + 52 + 50 + 45 + 58 + 39 + 45 + 59 + 53) / 11 ≈ 44.5 anos
* **Japan:** (51 + 48 + 42 + 47 + 44 + 51 + 53 + 41 + 40 + 44 + 55) / 11 ≈ 47.2 anos
* **Australia:** (53 + 37 + 19 + 44 + 59 + 38 + 53 + 36 + 48 + 33 + 50 + 37 + 35) / 13 ≈ 42.8 anos
* **Germany:** (50 + 38 + 53 + 36 + 46 + 53 + 45 + 35 + 33) / 9 ≈ 43.9 anos
* **UK:** (43 + 47 + 57 + 40 + 33 + 47) / 6 ≈ 44.2 anos
* **USA:** (43 + 39 + 35) / 3 ≈ 39.0 anos


Observação:  Alguns valores foram arredondados.  A precisão pode ser aumentada com o uso de uma ferramenta de análise de dados mais robusta.